.main {
    margin: 0;
    padding: 0;
}

.main a:hover {
    text-decoration: none;
}

.main a:hover h1, .main a:hover h3 {
    text-decoration: underline;
}

time {
    font-size: 0.7rem;
    text-transform: uppercase;
}

h1, h3 {
    font-size: 1rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}

picture, picture>img, video {
    aspect-ratio: auto;
    width: 100%;
}

/* MOBILE */
article p {
    display: none;
}

/* UPPER SECTION */

/* MOBILE */
.advertisement {
    display: none;
}

.articles-upper-section, .articles-read-more-section {
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #efefef;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.articles-upper-section article, .articles-read-more-section article {
    margin: 10px 0;
}

.article-item>a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.article-item .article-title {
    margin-bottom: 8px;
}

.article-item>a>picture {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    padding-left: 30px;
}

/* TOP ARTICLE */

#top-article {
    margin-top: 0;
}

#top-article>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#top-article .article-title {
    margin: 8px 0;
}

#top-article picture {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#top-article picture>img {
    width: 100%;
    height: 100%;
}

/* TABLET */
@media (min-width: 768px) {
    .articles-upper-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

/* DESKTOP */
@media (min-width: 1020px) {
    .articles-upper-section {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 40px;
        grid-row-gap: 25px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .advertisement {
        display: block;
        grid-column: 3 / 4;
        grid-row: 8 / 9;
    }

    .articles-upper-section article {
        margin: 0;
    }

    .item-3 picture, .item-4 picture, .item-5 picture, .item-6 picture, .item-7 picture, .item-8 picture {
        display: none;
    }

    .top-item {
        grid-column: 1 / 3;
        grid-row: 1 / 8;
    }

    .item-1 {
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    .item-2 {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

    .item-1>a, .item-2>a {
        display: block;
        margin: 0;
        padding: 0;
    }

    .item-1>a>picture, .item-2>a>picture {
        margin: 0;
        padding: 0;
    }

    .item-1>a>picture>img, .item-2>a>picture>img {
        min-width: 300px;
        width: 100%;
        height: 100%;
    }

    .item-1 .article-title, .item-2 .article-title {
        margin: 10px 0;
        font-size: 1.5rem;
        line-height: 1.09;
    }

    #top-article>a>picture {
        width: 100%;
        height: 440px;
    }

    #top-article>a>picture>img {
        height: 100%;
        object-fit: cover;
    }

    #top-article .article-title {
        margin: 10px 0;
        font-size: 2rem;
        line-height: 1.1;
    }

    #top-article p {
        display: block;
        font-size: 1rem;
        line-height: 1.3;
    }
}

/* DESKTOP LARGE */
@media (min-width: 1360px) {
    .articles-upper-section {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .advertisement {
        display: block;
        grid-column: 3 / 4;
        grid-row: 5 / 8;
    }

    #top-article {
        grid-column: 1 / 4;
        grid-row: 1 / 5;
    }

    .item-1 {
        grid-column: 1 / 2;
        grid-row: 5 / 8;
    }

    .item-2 {
        grid-column: 2 / 3;
        grid-row: 5 / 8;
    }

    #top-article>a {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0;
        grid-column-gap: 40px;
    }

    #top-article>a>picture {
        grid-column: 2 / 4;
        height: 440px;
        width: 100%;
        object-fit: cover;
    }

    #top-article>a>.articles-container {
        grid-column: 1 / 2;
    }
}

/* READ MORE SECTION */
/* .articles-read-more-section has the same style as .articles-upper-section */
.articles-read-more-section .articles-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.more-top {
    display: none;
}

.articles-read-more-section>a, .theme-section-articles>a {
    border: 1px solid #efefef;
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

/* TABLET */
@media (min-width: 768px) {

    /* articles read more section title*/
    .articles-read-more-section .article-more-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .articles-read-more-section .article-more-title>h2 {
        font-size: 2rem;
    }

    .articles-read-more-section .article-more-title>.more-top {
        display: block;
        align-self: flex-end;
        padding-bottom: 5px;
        margin-left: 20px;
    }

    /* articles read more section container*/
    .articles-read-more-section .articles-container .article-item {
        margin: 0;
        padding: 0;
    }

    .articles-read-more-section .articles-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }

    .articles-read-more-section .read-more-pic {
        margin: 0;
        padding-left: 20px;
    }

    .more-bottom {
        display: none;
    }
}

/* DESKTOP */
@media (min-width: 1020px) {
    .articles-read-more-section .article-more-title h2 {
        font-size: 2.8rem;
    }

    .articles-read-more-section .article-description {
        display: block;
    }

    .articles-read-more-section .read-more-pic {
        width: 150px;
        height: 150px;
        flex-shrink: 0;
    }
}

/* DESKTOP LARGE */
@media (min-width: 1360px) {
    .articles-read-more-section .article-more-title h2 {
        font-size: 3.5rem;
    }

    .articles-read-more-section .article-components h3 {
        font-size: 1.5rem;
    }
}

/* THEME SECTION */
.theme-section-articles {
    margin-top: 20px;
    padding: 20px;
    background-color: #00701a;
    color: #fdfdfd;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.article-theme-title {
    margin-bottom: 15px;
}
.theme-article a {
    color: #fdfdfd;
}
.theme-section-articles>a {
    color: #fdfdfd;
    border-color: #fdfdfd;
    margin-top: 10px;
}
.theme-article .article-title {
    margin: 10px 0;
}
.theme-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.theme-article ul {
    margin: 0;
    padding: 10px 0 15px 0;
    list-style-type: none;
    font-size: 0.9rem;
    font-weight: bolder;
}
.theme-article li {
    margin: 7px 0;
}

/* TABLET */
@media (min-width: 768px) {
    .theme-section-articles .theme-articles-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .theme-section-articles .theme-article {
        justify-content: flex-start;
    }
    .theme-section-articles .article-theme-title>h2 {
        font-size: 2rem;
    }
    .theme-section-articles .article-theme-title {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .theme-section-articles .more-top {
        display: block;
        color: white;
        align-self: flex-end;
        padding-bottom: 5px;
        margin-left: 20px;
    }
}

/* DESKTOP */
@media (min-width: 1020px) {
    .theme-section-articles .article-theme-title>h2 {
        font-size: 2.8rem;
    }
    .theme-section-articles .article-theme-title {
        margin-bottom: 30px;
    }
    .theme-section-articles .article-title {
        font-size: 1.5rem;
    }
    .theme-section-articles .article-components>p {
        display: block;
        font-size: 1.13rem;
    }
}

/* DESKTOP LARGE */
@media (min-width: 1360px) {
    .theme-section-articles .article-theme-title>h2 {
        font-size: 3.5rem;
    }
}

/* SIGN UP SECTION */
.sign-up-section {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.sign-up-section>h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.sign-up-section>.sign-up-form {
    padding: 10px 0;
}
.sign-up-section>p {
    display: none;
}
.sign-up-section>.sign-up-form>img {
    display: none;
}
.sign-up-section>a {
    display: none;
}
.sign-up-section .form {
    display: flex;
    flex-direction: column;
}
.sign-up-section .email-sign-up {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
    justify-content: center;

}
.sign-up-section .email-sign-up>input {
    padding: 0 15px;
    border: solid 1px #7f7f7f;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
    color: #7F7F7F;
}
.sign-up-section .email-sign-up>button {
    margin: 0 10px;
    padding: 4px 12px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #b50505;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;
}
.sign-up-section .email-sign-up>button:hover {
    background-color: #d22424;
}
.sign-up-section .form>label, .sign-up-section .form>.check-sign-up {
    font-size: 11px;
    color: #7F7F7F;
}
.sign-up-section .form>label>a {
    text-decoration: underline;
    color: #7F7F7F;
}
.sign-up-section .form>label>a:hover {
    color: black;
}
.sign-up-section .form>label {
    margin: 10px 0;
}
.sign-up-section .form>.check-sign-up {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.sign-up-section .form>.check-sign-up>input {
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

@media (min-width: 580px) {
    .sign-up-section>p {
        display: block;
        text-align: center;
        font-size: 18px;
        margin: 10px 0;
    }
    .sign-up-section>.sign-up-form {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        max-width: 555px;
        align-self: center;
    }
    .sign-up-section>.sign-up-form>img {
        display: block;
        width: 100px;
        height: 100px;
    }
    .sign-up-section .form>label {
        margin-top: 20px;
        margin-bottom: 15px;
    }
}

@media (min-width: 825px) {
    .sign-up-section>h2 {
        font-size: 2.6rem;
    }
    .sign-up-section>a {
        display: block;
        align-self: center;
        font-size: 1rem;
        font-weight: bold;
    }
}

@media (min-width: 1020px) {
    .sign-up-section {
        padding: 40px 0;
    }
}

/* VIDEO SECTION */
.videos-section {
    background-color: black;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
}
.videos-section>h2 {
    display: none;
}
.videos-section h3 {
    color: white;
    font-size: 0.8rem;
    padding: 10px 0;
}
.videos-section time {
    color: white;
}
.videos-section .video-title {
    font-size: 2.6rem;
    padding: 0 20px;
}

.videos-section .videos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding: 20px;
}

/* DESKTOP */
@media (min-width: 1020px) {
    .videos-section {
        padding: 20px;
    }
    .videos-section>h2 {
        display: block;
        padding: 20px 0;
        font-size: 2.8rem;
    }
    .videos-section .video-title {
        padding: 0;
        font-size: 1.5rem;
    }
    .videos-section .article-title {
        font-size: 1rem;
    }
    .videos-section>a {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .videos-section>a>video {
        width: 725px;
    }
    .videos-section .videos-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 0;
    }
}

/* DESKTOP LARGE */
@media (min-width: 1360px) {
    .videos-section>a>video {
        width: 980px;
    }
    .videos-section .article-title {
        font-size: 1.5rem;
    }
    .videos-section .video-title {
        font-size: 2rem;
    }
}


/* ALL MAIN CHILDREN padding responsive */
@media (min-width: 1020px) and (max-width: 1359px) {
    .main > * {
        padding-right: calc(16px + (100vw - 1020px) / 2);
        padding-left: calc(16px + (100vw - 1020px) / 2);
    }
}
@media (min-width: 1360px) {
    .main > * {
        padding-right: calc(16px + (100vw - 1360px) / 2);
        padding-left: calc(16px + (100vw - 1360px) / 2);
    }
}

/* handle COOKIES button */
#cookies {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: #000a3c;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}